# Servidor Express
PORT=3000
NODE_ENV=production

# Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=crm_gimnasio_gd

# Seguridad JWT
JWT_SECRET=tu_secreto_jwt_super_seguro_y_largo_de_mas_de_32_caracteres
JWT_EXPIRES_IN=8h

# Origen permitido por CORS
CORS_ORIGIN=http://localhost:4200
